@charset "UTF-8";
p {color: red;}
table{
      width: 100%;
      border-collapse: collapse;
}
td, th{
  border: 1px solid #000;
}
.col1{
  background-color: yellow;
}
.col2{
  background-color: white;
}
.col3{
  background-color: lightgray;
}
